
#========================================
# Ansible, OS, & Splunk Config Variables 
#========================================

#
# Change These:
# (Username / password type variables that should be changed)
#

# Remote host username, password, enable password, and SSH private key file (default method)
#   If one of ssh_pass, become_pass (sudo), and private_key are not needed, 
#   comment them out based on your authentication method.
ansible_user: centos
# ansible_ssh_pass: samplePassword
# ansible_become_pass: samplePassword
ansible_ssh_private_key_file: ~/.ssh/id_rsa


# Username and password for Splunk Phantom admin user
#   (used during initial install, not during upgrade)
phantom_pass: phantom123


# Whether to upload from a local directory (true) (default)
#  or download from a URL (false)
upload_from_local_dir: true

# Optional download location if upload_from_local_dir is false
# Only required if downloading TGZ from an external server
# Site URL only (filename is specified in phantom_tgz below) (no trailing "/")
phantom_tgz_download_url: "https://my-sample-location.s3-us-west-2.amazonaws.com"

# Checksum algorithm (sha256 is the default)
phantom_tgz_checksum_alg: sha256


#
# Phantom Installation & OS Level Defaults
# (The variables are reasonable defaults and can be safely left alone)
#

# Ansible connection defaults
ansible_connection: smart
ansible_port: 22

# User and group that will run splunkd on the OS and own Splunk files
os_user: phantom
os_group: phantom

# Phantom home dir
phantom_home: /opt/phantom


#
# Phantom Configuration Settings
# (These settings impact how Phantom is initially configured.)
#

# Phantom Web UI Port (default 8443)
phantom_https_port: 8443

# Upload and install custom SSL certs (certs/httpd_cert.crt and certs/httpd_cert.key)
# true or false (default)
use_custom_ssl_certs: false



#==================================
# Splunk Phantom Version Selector
#==================================

# Latest Splunk Phantom version, filename, and SHA-256 checksum (for upload)
phantom_version: 5.4.0
phantom_tgz: splunk_soar-unpriv-5.4.0.101028-51471342-el7-x86_64.tar
phantom_tgz_checksum: 55542a6b8d1d76ec5d971a7cf2fe7f96a7fd4f9bf11ff43fe3a8e183bcc0823b


#===============================================================
# Splunk Phantom Version Library 
# (uncomment and copy to use) 
#===============================================================

# 5.4

# phantom_tgz: splunk_soar-unpriv-5.4.0.101028-51471342-el7-x86_64.tar
# phantom_tgz_checksum: 55542a6b8d1d76ec5d971a7cf2fe7f96a7fd4f9bf11ff43fe3a8e183bcc0823b

# 5.3

# phantom_tgz: splunk_soar-unpriv-5.3.5.97812-1ed10be4-el7-x86_64.tar
# phantom_tgz_checksum: 1fce053fcb784b61bf516c8902eaad943028640184b7f467ade446e8d8235d41

# phantom_tgz: splunk_soar-unpriv-5.3.4.95226-e7cead8c-el7-x86_64.tar
# phantom_tgz_checksum: 2adc4d0298f61b98a095b81689d0e667fcc42772c185e6cda5d47d8a05c43c57

# phantom_tgz: splunk_soar-unpriv-5.3.3.92213-ebef80f6-el7-x86_64.tar
# phantom_tgz_checksum: b808c4cbe30041ca84be466f78a4572d4a79e57d20dc383339554bc287ac2677

# phantom_tgz: splunk_soar-unpriv-5.3.2.88192-4eadac93-el7-x86_64.tar
# phantom_tgz_checksum: 6974ddc612250654a801d9025f158ebd4c76db1cf8dcaab8d5cf588f25a81a6b

# phantom_tgz: splunk_soar-unpriv-5.3.1.84890-368eab78-el7-x86_64.tar
# phantom_tgz_checksum: f22168f8368aa3bbfe091ac5c9e13b9910302a5763a259ef77cce378e8054b62

# phantom_tgz: splunk_soar-unpriv-5.3.0.84310-74940819-el7-x86_64.tar
# phantom_tgz_checksum: f2afb49e0c2fa23565e4ed89267259a77e39fff8af4df81c30938f155ffd69f4

# 5.2

# phantom_tgz: phantom-5.2.1.78411-1.tgz
# phantom_tgz_checksum: 70e04ded3b707e2fb3c6f8f1887ec93311b3f4ba258f98e1dae80de66b08e79b

# 5.2.0 pulled due to a high severity bug

# 5.1

# phantom_tgz: phantom-5.1.0.70187-1.tar
# phantom_tgz_checksum: 24f4c21e66061341ce2d9fd06511b525a25677a339f89197da880a83ee7f6ceb

# 5.0

# phantom_tgz: phantom-5.0.1.66250-1.tar
# phantom_tgz_checksum: 14de4743ca77a06214499a130c54665e5a1033f225be42e474649bc9d4206593

# 4.10

# phantom_tgz: phantom-4.10.7.63984-1.tar
# phantom_tgz_checksum: 2dbd52c2474a6df615b8dcc9dabbe85f793a6e129355e49b14d687073a18bcc5

# phantom_tgz: phantom-4.10.6.61906-1.tar
# phantom_tgz_checksum: 7a8324cac38af61175b814dbddc8638735a48cfad66772e45be4c5f35ad67cca

# 4.10.5 pulled due to a high severity bug

# phantom_tgz: phantom-4.10.4.56260-1.tar
# phantom_tgz_checksum: dfc8bc1d52dda94150321c27a7a871cf4e9eee2120ebc35659725c897db2169a

# phantom_tgz: phantom-4.10.3.51237-1.tar
# phantom_tgz_checksum: 82b562c0517ad99cab7ce93b7b3858844061364bde5c66b2967be2916a400055

# phantom_tgz: phantom-4.10.2.47587-1.tar
# phantom_tgz_checksum: 629c3cc1af93c05d59aa9446f6e1d479deae13a1c5faeba60e3695f1e955f0fc

# phantom_tgz: phantom-4.10.1.45070-1.tar
# phantom_tgz_checksum: e76f966ff60aeb584106216b44516f3b641aefd02be65ace0d66830ada32bb18

# phantom_tgz: phantom-4.10.0.40961-1.tar
# phantom_tgz_checksum: 2bac760e299a24b6856d611823b8cc60e77f54e8122ed0105bfd52e2a397320a

# 4.9

# phantom_tgz: phantom-4.9.39220-1.tar
# phantom_tgz_checksum: 3d818c97b602848feefbda5a37f6ce7f514691322c61dbe8967235cd2a020e04

# phantom_tgz: phantom-4.9.37880-1.tgz
# phantom_tgz_checksum: 775935e9d19f3d55c05164d20f62936936094acffcd5513de90c468d0d54b7df

# phantom_tgz: phantom-4.9.35731-1.tgz
# phantom_tgz_checksum: becc4910d969a004f61c6f62011e7814923a76433beb7804b20441b010f61b67

# phantom_tgz: phantom-4.9.34514-1.tgz
# phantom_tgz_checksum: 42d6926e90c0e1e03ed2261c45de7ca8ce46c3098b186493a90f3f172448a9f4

# phantom_tgz: phantom-4.9.33153-1.tgz
# phantom_tgz_checksum: 2b652888bd171ca46a538ce00cdf9f40d791e88e8e2bca1ebb0b876adc6151a8

# phantom_tgz: phantom-4.9.33071-1.tgz
# phantom_tgz_checksum: 70f0fb22097712e58f69440a5f7870b09e7dde36b276a7fbc3f70745bceec31d

# 4.8

# phantom_tgz: phantom-4.8.24304-1.tgz
# phantom_tgz_checksum: 9189d423042649502366387585164225950b7eb0fab116c2dbd0eb79409856bb

# phantom_tgz: phantom-4.8.23319-1.tgz
# phantom_tgz_checksum: 5c0d8fafbe47a49339f200a5449f0a045ea7f20c9559ac12bbceb08c9f26fcab
