
#========================================
# Ansible, OS, & Splunk Config Variables 
#========================================

#
# Change These:
# (Username / password type variables that should be changed)
#

# Remote host username, password, enable password, and SSH private key file (default method)
#   If one of ssh_pass, become_pass (sudo), and private_key are not needed, 
#   comment them out based on your authentication method.
ansible_user: centos
# ansible_ssh_pass: samplePassword
# ansible_become_pass: samplePassword
ansible_ssh_private_key_file: ~/.ssh/id_rsa


# Username and password for Splunk Enterprise admin user
#   (used during initial install, not during upgrade)
phantom_pass: phantom123


# Whether to upload from a local directory (true) (default)
#  or download from a URL (false)
upload_from_local_dir: true

# Optional download location if upload_from_local_dir is false
# Only required if downloading TGZ from an external server
# Site URL only (filename is specified in phantom_tgz below) (no trailing "/")
phantom_tgz_download_url: "https://my-sample-location.s3-us-west-2.amazonaws.com"

# Checksum algorithm (sha256 is the default)
phantom_tgz_checksum_alg: sha256


#
# Phantom Installation & OS Level Defaults
# (The variables are reasonable defaults and can be safely left alone)
#

# Ansible connection defaults
ansible_connection: smart
ansible_port: 22

# User and group that will run splunkd on the OS and own Splunk files
os_user: phantom
os_group: phantom

# Phantom home dir
phantom_home: /opt/phantom


#
# Phantom Configuration Settings
# (These settings impact how Phantom is initially configured.)
#

# Phantom Web UI Port
phantom_https_port: 4443

# Upload and install custom SSL certs (certs/httpd_cert.crt and certs/httpd_cert.key)
# true or false (default)
use_custom_ssl_certs: false



#==================================
# Splunk Phantom Version Selector
#==================================

# Latest Splunk Phantom version, filename, and SHA-256 checksum (for upload)
phantom_tgz: phantom-4.9.33071-1.tgz
phantom_tgz_checksum: 70f0fb22097712e58f69440a5f7870b09e7dde36b276a7fbc3f70745bceec31d



#===============================================================
# Splunk Phantom Version Library 
# (uncomment and copy to use) 
#===============================================================

# 4.9

# phantom_tgz: phantom-4.9.33071-1.tgz
# phantom_tgz_checksum: 70f0fb22097712e58f69440a5f7870b09e7dde36b276a7fbc3f70745bceec31d

# 4.8

# phantom_tgz: phantom-4.8.24304-1.tgz
# phantom_tgz_checksum: 9189d423042649502366387585164225950b7eb0fab116c2dbd0eb79409856bb

# phantom_tgz: phantom-4.8.23319-1.tgz
# phantom_tgz_checksum: 5c0d8fafbe47a49339f200a5449f0a045ea7f20c9559ac12bbceb08c9f26fcab
